<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 日志存放路径 -->
    <property name="log.path" value="logs/ejobsg-modules-recruitment"/>

    <!-- 日志输出格式 -->
    <include resource="logback-pattern.xml"/>

    <!-- 开启logstash日志收集 -->
    <include resource="logback-logstash.xml"/>

    <!-- 通用日志收集 -->
    <!--<include resource="logback-common.xml"/>-->

    <!-- 开启Skywalking日志收集 -->
    <include resource="logback-skylog.xml"/>
</configuration>
